<h1>Serial Numbers</h1>

<div class="search-form">
  <% form_tag serials_path, :method => 'get' do %>
  <fieldset>
    <b>Search</b>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag 'Go', :name => nil %>
  </fieldset>
  <% end %>
</div>

<br />

<div class="log-list">
<table>
  <tr>
    <th width=150>Serial number</th>
    <th width=150>Part number</th>
  </tr>

  <%= render(:partial => "search_result", :collection => @serials ) %>
</table>
</div>

<hr/>
<%= will_paginate @serials %>
<hr/>

<br />
<br />
<% if permitted_to? :create, Serial.new %>
<%= link_to 'New serial number', new_serial_path %>
<% end %>
