<% form_for(user) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name, :disabled => true %>
  </p>
  <p>
    <%= f.label :hashed_password, 'Password' %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :salt, 'Confirm Password' %><br />
    <%= f.password_field :password_confirmation %>
  </p>
  <p>
    <%= f.label :email, 'Email' %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>
