<h1>New Part Number</h1>


<% form_for(@product) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :part_number %><br />
    <%= f.text_field :part_number, :size => 40 %>
  </p>

  <p>
    <%= f.label :description, 'Description' %><br />
    <%= f.text_field :description, :size => 40 %>
  </p>

  <p>
    <%= f.submit 'Create' %>
  </p>


<% end %>
<%= link_to 'Back', products_path %>
