<h1>New location</h1>

<% form_for(@location) do |f| %>
  <%= f.error_messages %>
  <!--
  <p>
    <%= f.label :id %><br />
    <%= f.text_field :id %>
  </p>
-->
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :detail %><br />
    <%= f.text_field :detail %><br />
  </p>
  <p>
    <%= f.label :code %><br />
    <%= f.text_field :code %><br />
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', locations_path %>
